.container{
background-color: rgb(105, 159, 230);
border: 60px solid rgb(169, 192, 236);
border-radius: 25px;
min-height: 600px;
margin-top: 50vh;
margin-left: 50%;
position: absolute;
transform: translate(-50%, -50%);
}